<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66084189057-m92scov06f13j99e1b9h50g2964s2h44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66084189057-m92scov06f13j99e1b9h50g2964s2h44</string>
	<key>API_KEY</key>
	<string>AIzaSyDr1EU6WjuU9_dxBUdltqKNTDJcyVXXB0M</string>
	<key>GCM_SENDER_ID</key>
	<string>66084189057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.smartsolar.TwitterX</string>
	<key>PROJECT_ID</key>
	<string>twitter-x-8b886</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-x-8b886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66084189057:ios:34fa1e313a22769b8f6e80</string>
</dict>
</plist>